
@model OnBoardingFirst.Models.Store

<style type="text/css">
    .field-validation-error {
        color: #F11414;
    }

    .input-validation-error {
        border: 2px solid red;
        border-color: red
    }
</style>


@using (Html.BeginForm("Create", "Store"))
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Adding New Store</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">

                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.Name)

                    </div>
                    <div class="form-group">

                        @Html.LabelFor(m => m.Address)
                        @Html.TextBoxFor(m => m.Address, new { @class = "form-control" })

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"> Add </button>
                    <button class="btn" data-dismiss="modal"> Close </button>
                </div>

            </div>

        </div>
    </div>

}

