

@model OnBoardingFirst.Models.Product
<style type="text/css">
    .field-validation-error {
        color: #F11414;
    }

    .input-validation-error {
        border: 2px solid red;
        border-color: red
    }
</style>


@using (Html.BeginForm("Create", "Product"))
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h4 class="modal-title">Adding New Product</h4>
                </div>
                <div class="modal-body">

                    <div class="form-group">

                        @Html.LabelFor(m => m.Name)
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m=>m.Name)

                    </div>
                    <div class="form-group">

                        @Html.LabelFor(m => m.Price)
                        @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
                        @Html.ValidationMessageFor(m=>m.Price)

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary"> Add </button>
                    <button class="btn" data-dismiss="modal"> Close </button>
                </div>

            </div>

        </div>
    </div>

}


@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")




}
